// texto de código
p, li {
  code {
    font-size: 85% !important;
  }
}

h2 {
  code {
    font-size: 80% !important;
  }
}

code {
    font-size: 85% !important;
}

.bg-white-50 {
  background-color: #F1DFFB;
}

ol, blockquote {
  code {
    font-size: 85% !important;
    background-color: #F1DFFB;
    padding-left: .25rem;
    padding-right: .25rem;
  }
}

// intento de cambiar color de títulos de posts 
header {
  h1 {
  
    a {
      color: red;
    }
  }
}


// estilos para caja de comentarios utterances
.utterances {
  background-color: white;
  padding: 0px;
  border-radius: 8px;
  scale: 0.95;
}

.post-comments {
  margin-left: 60px;
  margin-right: 60px;
  padding: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #F1DFFB;
  border-radius: 8px;
}
