// texto de código
p, li {
  code {
    font-size: 85% !important;
  }
}

h1, h2, h3 {
  code {
    font-size: 80% !important;
  }
}


code {
  font-size: 90% !important;
  border-radius: 3px;
}

p {
  code {
    background-color: #F1DFFB;
    border-radius: 3px;
  }
}

.bg-white-50 {
  background-color: #F1DFFB;
}

ol, blockquote {
  code {
    font-size: 85% !important;
    background-color: #F1DFFB;
    padding-left: .25rem;
    padding-right: .25rem;
  }
}


// colores de tablas
th {
  padding: 8px !important;
  font-size: 80% !important;
}

td {
  padding: 8px !important;
  font-size: 80% !important;
}

.stripe-dark:nth-child(odd), .post-body>table tbody tr:nth-child(odd), .page-body>table tbody tr:nth-child(odd) {
background-color: #A985C630;
}


// estilos para caja de comentarios utterances
.utterances {
  background-color: white;
  padding: 0px;
  border-radius: 8px;
  scale: 0.95;
}

.post-comments {
  margin-left: 20px;
  margin-right: 20px;
  padding: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #F1DFFB;
  border-radius: 8px;
}

/*nav {
 li {
   color: red !important;
   line-height: 6 !important;
 }
}*/


// estilo del índice
#PageTableOfContents li {
    padding: 3px !important;
}

#PageTableOfContents ul {
    padding-left: 12px !important;
}

