// Override this file to add your own SCSS styling.

// tamaño del texto de código dentro de los párrafos
p {
  code {
    font-size: 85% !important;
  }
}

/* intento de cambiar color de títulos de posts 
header {
  h1 {
  
    a {
      color: red;
    }
  }
}
*/