
// set custom hex colors
/*$siteBgColorCustom: #ECD6F5;*/
$siteBgColorCustom: #EAD1FA;
$sidebarBgColorCustom: $siteBgColorCustom;
$textColorCustom: #543A74;
/*$textColorCustom: #5C407F;*/
$sidebarTextColorCustom: $textColorCustom;
$headlineColorCustom: #6E3998;
$headingColorCustom: $headlineColorCustom;
$bodyLinkColorCustom: #9069C0;
$sidebarLinkColorCustom: $bodyLinkColorCustom;
$navLinkColorCustom: $headingColorCustom;
/*$footerTextColorCustom: #AC89D8;*/
$footerTextColorCustom: #A885C6;
$borderColorCustom: $footerTextColorCustom;
$buttonTextColorCustom: #f7f7f4;
$buttonHoverTextColorCustom: #f9f9f8;
$buttonBgColorCustom: $headlineColorCustom;
$buttonHoverBgColorCustom: $bodyLinkColorCustom;