<!-- 
<div style="padding: 14px; background-color:#493365; color:#E9DDEE; border-radius:6px;
margin:20px; margin-top:26px; margin-bottom:20px; margin-left:40px; margin-right:40px;
font-size: 90%;">

{{.Get 0 | markdownify }}

</div>
-->

<div style="display: flex; align-items: center; gap: 15px; padding: 14px; 
            background-color: #493365;  border-radius: 6px;
            margin: 20px 40px 20px 40px;">
  
  <div style="flex-shrink: 0;">
    <i class="fas fa-triangle-exclamation" style="font-size: 130%; margin-left: 2px; opacity: 1; color: #EAD2FA;"></i>
  </div>
  
  <aside style = "font-size: 90%; color: #EAD2FA;">
    {{ .Get 0 | markdownify }}
  </aside>
  
</div>